@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You are the manager of a Music Equipment store, and have been given access to the inventory management software
        used to keep track of the items in your store's inventory.
    </p>
</div>
